:root {
    --primary-color: #525252;
    --secondary-color: #03B5AA;
    --accent1-color: #F3F3F3;
    --accent2-color: #AFFEF8;
}

header {
    background-color: var(--primary-color);
    padding: 1rem;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    font-family: "Carter One", system-ui;
    max-width: 968px;
}

header img {
    justify-self: center;
    width: 110px;
    height: auto;
}

nav {
	text-align: center;
}

.navigation {
	display: flex;
    align-items: center;
    justify-content: space-around;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: var(--accent1-color);
	text-decoration: none;
    font-size: larger;
}

.navigation a:hover {
	color: var(--accent2-color);
	font-weight: 700;
	text-decoration: underline;
}

main {
    max-width: 1000px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 45px;
    left: 255px;
    font-family: "Carter One", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--accent1-color);
}

h2 {
    font-family: "Carter One", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--secondary-color);
}

article {
    position: absolute;
    top: 350px;
    left: 475px;
    width: 500px;
    color: var(--accent2-color);
    padding-left: 3px;
    font-size: larger;
}

article img {
    float: right;
    max-width: 200px;
    height: auto;
    margin: 10px;
    opacity: 1;
}

p {
    font-family: "BenchNine", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container3 {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    background-color: var(--accent1-color);
    margin-top: 10px;
}

.columns-3 {
    grid-column: 1/4;
    text-align: center;
}

.history-image {
    width: auto;
    height: 30px;
    transform: rotate(90deg);
}

.three {
    margin: 0.25rem;
}

.adventure-container {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: var(--accent1-color);
    margin-top: 10px;
}

.columns-5 {
    grid-column: 1/6;
    text-align: center;
}

.five {
    justify-self: center;
    margin: 0.25rem;
}

.five img {
    width: 125px;
    height: auto;
}

figcaption {
    text-align: center;
}

.footer-container { /* Got help from some Bing searches */
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-footer-text {
    flex: 1;
    text-align: center;
}

.footer-items { 
	display: flex;
	list-style: none;
}

footer a {
    text-decoration: none;
}

footer img {
    max-width: 28px;
    height: auto;
    padding-left: 15px;
}